body {
	background: url("backgrounds/home_bg.svg") left top,
		url("backgrounds/home_bg.svg") right top;
	background-color: #fffbe3; /* base color fills the center */
	background-repeat: repeat-y, repeat-y;
	background-position: left top, right top;
	background-size: 150px auto, 150px auto;
	background-attachment: scroll;
}

main a {
	font-weight: 550;
	text-decoration: none;
	color: #666;
}

main a:hover {
	text-decoration: underline;
	color: blue;
}

h1 {
	background-color: #e8b492;
	color: #fffbe3;
}

h3 {
	font-weight: 550;
	color: #8d9fa9;
}

#game-filter {
	padding: 2rem;
	border-radius: 20px;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 10px;
}

.button-group {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem; /* Adds space between buttons */
	margin-top: 0.5rem;
}

.button-group button {
	position: relative;
	background-color: transparent;
	padding: 0.6rem 2.2rem;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 999px;
	transition: background-color 0.2s ease;
	overflow: hidden;
	border: none;
}

/* This is for adding a black innner border effect to the buttons */
.button-group button::after,
#find-button::after,
#filtered-random-btn::after {
	content: "";
	position: absolute;
	top: 4px;
	bottom: 4px;
	left: 4px;
	right: 4px;
	border-radius: 999px;
	border: 1px solid #5f4c3f;
	pointer-events: none;
}

.button-group button.selected {
	background-color: #e8b492;
	color: white;
}

.button-group button:hover {
	background-color: #ffe0c2;
}

.question-label {
	font-weight: 550;
	margin-bottom: 0.3rem;
	font-size: 1.05rem;
}

.form-group {
	margin-bottom: 1.5rem;
}

#results {
	margin-top: 2rem;
	padding: 1.5rem;
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#results h3 {
	margin-top: 0;
	margin-bottom: 1rem;
}

.form-actions {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
	align-items: center;
}

#find-button,
#filtered-random-btn {
	position: relative;
	overflow: hidden;
	background-color: #8c9ba9;
	border: none;
	padding: 0.6rem 2.2rem;
	font-size: 1.1rem;
	cursor: pointer;
	border-radius: 999px;
	transition: background-color 0.2s ease;
	color: white;
}

#find-button:hover,
#filtered-random-btn:hover {
	background-color: #6b7a89;
}

.game-suggestions .game-info-box {
	padding: 0.4rem 0rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-radius: 6px;
	max-width: fit-content;
	font-size: 0.9rem;
	opacity: 0.8;
}

.game-suggestions .game-stats {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.about-info-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 0.2rem;
	margin: 2rem 0;
}

.about-info-grid .label {
	font-weight: 550;
	color: #8d9fa9;
	font-size: 1.1rem;
}

.about-info-grid .desc {
	max-width: 500px;
	text-align: center;
	color: #444;
}

.color-box {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 0.6rem;
	border-radius: 4px; /* rounded corners */
	border: 1px solid #ccc; /* optional light border */
}

.nav-footer {
	padding-top: 2rem;
	max-width: 900px;
	padding-bottom: 5rem;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	background: transparent;
}

.footer-graphic {
	width: 100%;
	padding-top: 5rem;
}

.footer-graphic img {
	width: 100%;
	height: auto;
	display: block;
}

.footer-logo {
	width: 100px;
	height: auto;
	transition: transform 0.3s ease, filter 0.3s ease;
}

.footer-logo:hover {
	transform: scale(1.1);
	filter: brightness(1.2);
	cursor: pointer;
}
