/* Import fonts */
@font-face {
	font-family: "Omnes";
	src: url("static/fonts/Omnes Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Omnes";
	src: url("static/fonts/Omnes Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Omnes";
	src: url("static/fonts/Omnes Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Omnes";
	src: url("static/fonts/Omnes Bold Italic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Omnes";
	src: url("static/fonts/Omnes SemiBold.woff") format("woff");
	font-weight: 550;
	font-style: normal;
}

/* Base typography */
body {
	font-family: "Omnes", sans-serif;
	line-height: 1.6;
	color: #666;
	margin: 0;
	padding: 0;
	max-width: 900px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-family: "Omnes", sans-serif;
}

h1 {
	font-family: "Omnes", sans-serif;
	color: #666;
	font-size: 2.5rem;
	margin-bottom: 2rem;
	font-weight: 300;
	letter-spacing: 0.5px;
}

/* Game page specific styles */
.game-info-box {
	padding: 0.4rem 1rem;
	margin: 1rem 0;
	border-radius: 6px;
	max-width: fit-content;
	font-size: 1rem;
	font-weight: normal;
	opacity: 0.75;
	margin-bottom: 50px;
}

.game-stats {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
}

.game-stats i {
	font-size: 1.2rem;
	color: #666;
	transition: transform 0.2s ease, color 0.2s ease;
	cursor: help;
}

.game-stats i:hover {
	transform: scale(1.15);
	color: #222;
}

/* Remove default Quarto margins */
.quarto-title-block {
	display: none;
}

.content {
	padding: 0;
	max-width: none;
}

.tooltip-gamestats {
	position: relative;
	display: inline-block;
	cursor: help;
}

/* Tooltip box */
.tooltip-gamestats::after {
	content: attr(data-tooltip);
	position: absolute;
	bottom: 125%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #222;
	color: #fff;
	padding: 6px 10px;
	border-radius: 6px;
	font-size: 0.75rem;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease;
	z-index: 10;
}

/* Tooltip arrow */
.tooltip-gamestats::before {
	content: "";
	position: absolute;
	bottom: 115%;
	left: 50%;
	transform: translateX(-50%);
	border: 5px solid transparent;
	border-top-color: #222;
	opacity: 0;
	transition: opacity 0.2s ease;
	z-index: 9;
}

/* Show tooltip on hover */
.tooltip-gamestats:hover::after,
.tooltip-gamestats:hover::before {
	opacity: 1;
}

.navbar {
	background-color: #8c9ba9;
	border-bottom: 1px solid #ccc;
}

.navbar-brand,
.nav-link {
	color: white; /* text color */
	font-family: "Omnes", sans-serif;
	font-weight: 550;
}

.navbar .navbar-nav .nav-link:hover {
	color: #0077cc; /* hover text color */
}
